/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-pages{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px calc(100vw - 250px);
    grid-template-rows: 60px auto;

    app-aside{
        grid-row: 1/3;
        
    }

    app-toolbar{
        height: 60px;
        box-shadow: 0px 8px 16px rgb(7 0 156 / 6%);
        border-radius: 4px;
    }

    app-main-chat{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .container-aside{
        height: 100%;
        box-shadow: 0px 8px 16px rgb(7 0 156 / 6%);
        border-radius: 4px;
    }
}

.container-main-chat{
    height: 95%;
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 80% 5% 15%;
    width: 95%;
    box-shadow: 0px 8px 16px rgb(7 0 156 / 6%);
    border-radius: 4px;

    .container-response{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 70% 30%;

        .content{
            height: 438px;

            pre{
                font-family: Roboto, "Helvetica Neue", sans-serif;
                width: 100%;
                overflow-y: auto;
                white-space: pre-wrap;
                word-wrap: break-word;
                height: 438px;
            }
        }

        .images{
            height: 438px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .image{
                margin-bottom: 10px;
                border: 1px solid red;
                display: flex;
            }
        }
    }

    .container-response-onlyText{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 100%;
    }

    .container-input{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 3/4;
        grid-column: 1/4;

        textarea{
            font-family: Roboto, "Helvetica Neue", sans-serif;
            padding: 10px;
            font-size: 14px;
            line-height: 20px;
            width: 86%;
            height: 50px;
        }

        button{
            margin-left: 15px; 
        }
    }

    .container-actions-images{
        display: flex;
        align-items: center;
        grid-column: 1/3;
    }
}

app-loading{
    position: absolute;
}

.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #004dff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}